@media only screen and (max-width: 835px){
    .last_card{
        display: none;
    }
    .sec3_pic{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .sec3_main_div{
        flex-direction: column;
        row-gap: 20px;
    }
    .change_pic{
        width: 340px;
    }
}